@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-Book.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-BookItalic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-SemiBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
html {
  --background: white;
  --color: black;
  --dim: black;
  --font-serif: Atlantica, Palatino, 'Palatino Linotype', Times, "Droid Serif", serif;
  --font-sans: system-ui, sans-serif;
  --link: blue;
  --link-visited: darkblue;
  
  overflow-x: hidden;
  text-rendering: auto;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--color);
}

body {
  margin: 0;
  padding: 5vmax 0;
  font-family: var(--font-serif);
  font-size: clamp(.9em, 4vmin, 1.2em);
  line-height: 1.5;
  display: grid;
  grid-template-columns: 2rem [logo-start text-start] minmax(auto, 30rem) [logo-end text-end] minmax(2rem, 1fr);
  row-gap: 1rem;

  @media (min-width: 700px) {
    column-gap: 1.5rem;
    grid-template-columns: 5vw [logo-start] 48px [logo-end text-start] minmax(auto, 30rem) [text-end] minmax(5vw, 1fr);
  }

  > * {
    grid-column: text-start / text-end;
    margin: 0;
    color: var(--dim);
  }

  > h1:first-of-type {
    margin-top: 0;
  }
}

::selection {
  background-color: color-mix(in srgb, var(--link), transparent 90%);
}

.logo {
  grid-column: logo-start / logo-end;
  align-self: start;

  & svg {
    transition: transform 500ms;
    display: block;
  }

  &:hover svg {
    transform: rotate(365deg);
  }

  & g {
    stroke: var(--color);
    fill: var(--background);
  }

  @media (min-width: 700px) {
    position: sticky;
    top: 5vmax;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 2rem;
  color: var(--color);
}
h2, h3 {
  font-family: var(--font-sans);
  font-weight: 600;
  margin-top: 1em;
  line-height: 1.2;
  color: var(--color);
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
hr + h2,
h2 + h3 {
  margin-top: 0;
}

hr {
  border: none;
  border-top: solid 3px;
  margin: 2em 0;
  color: var(--dim);
  width: 3em !important;
}

a {
  color: var(--link);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;

  &:visited {
    color: var(--link-visited);
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
    color: var(--color);
  }
}

ul {
  padding-left: 1.2em;
}
li {
  margin: 0.5em 0;
}

header {
  font-family: var(--font-sans);
  color: var(--color);

  > * {
    margin: 0;
  }
}
header + p,
header + p + p {
  font-size: 1rem;
  font-family: var(--font-sans);
}

footer {
  > * {
    margin: 0;
  }
  > * + * {
    margin-top: 2rem;
  }

  small {
    display: block;
  }
}

/* Carousel */
oom-carousel {
  overflow-x: scroll;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  column-gap: 1rem;
  position: relative;
  z-index: 2;
  grid-column: 1 / -1;
  margin-bottom: min(20vh, 200px);

  @media (max-width: 1200px) {
    scroll-snap-type: x mandatory;
  }
  @media (min-width: 700px) {
    padding-left: calc(5vw + 48px + 3rem);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & figure {
    margin: 0;
    padding: 0;
    scroll-snap-align: center;
    width: min(100%, 800px);
    flex: 0 0 auto;
  }

  & img {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: 0;
  }
}

oom-carousel-navigation {
  display: flex;
  color: var(--dim);
  margin: 2rem 0;

  button {
    background: none;
    color: inherit;
    border: solid 2px;
    font-size: 2rem;
    cursor: pointer;
    font-family: inherit;

    & + button {
      margin-left: -2px;
    }

    &:hover {
      color: var(--color);
      z-index: 2;
    }
    &:disabled {
      cursor: default;
      opacity: .1;
    }
    &:focus {
      outline: 0;
      z-index: 2;
    }
    &:focus-visible {
      border-color: white;
    }
  }
}

.theme-light {
  /* Degradado chorra */
  @media (min-width: 700px) {
    body {
      background: linear-gradient(to right, white, white 90rem, hsl(180deg 100% 90%) 120rem);

      &::before {
        content: "";
        position: fixed;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 50rem;
        width: 1600px;
        height: 1600px;
        background: radial-gradient(
          ellipse closest-side,
          color-mix(in srgb, var(--link), transparent 66%),
          transparent
        );
        mix-blend-mode: multiply;
      }
    }
  }
}

.theme-dark {
  --background: #14181f;
  --color: #e0e4eb;
  --dim: #94a0b8;
  --link: #94a0b8;
  --link-visited: #94a0b8;
  
  &::before {
    display: none;
  }
}
