@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-Book.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-BookItalic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("./fonts/AtlanticaSerif-SemiBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
html {
  overflow-x: hidden;
  --background: white;
  --color: black;
  --dim: black;

  background: var(--background);
  color: var(--color);
}
body {
  margin: 0;
  padding-top: calc(8vmax + 48px);
  padding-bottom: 5vmax;
  font-family: Atlantica, Palatino, 'Palatino Linotype', Times, "Droid Serif", serif;
  font-size: clamp(.9em, 4vmin, 1.2em);
  line-height: 1.45;

  & > :is(h1, h2, h3, h4, h5, h6, p, ul, ol, header, footer, section, blockquote, article, oom-carousel-navigation, hr) {
    margin-left: 8%;
    width: 84%;
    max-width: 28rem;

    @media (min-width: 700px) {
      margin-left: calc(8% + 48px + 1rem);
    }
  }
  @media (min-width: 700px) {
    padding-top: calc(5vmax - .25rem);
  }

  & > h1 {
    margin-top: 0;
  }
}
h1 {
  font-size: 2em;
  line-height: 1.1;
  padding-top: .2em;
}
h2, h3 {
  margin-top: 3rem;
  margin-bottom: .5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h2 + h3 {
  margin-top: 0;
}
a:hover {
  color: darkblue;
  text-decoration: none;
}
a:focus {
  outline: none;
  color: darkblue;
  background-color: Lavender;
  box-shadow: 0 0 0 5px Lavender;
}
ul {
  padding-left: 1.2em;
}
li {
  margin: 0.3em 0;
}
hr {
  border: none;
  border-top: solid 2px;
  margin: 3rem 0;
  color: var(--dim);
  width: 3em !important;
}

.logo {
  display: block;
  width: max-content;
  padding: 0;
  position: absolute;
  left: 8%;
  top: 5vmax;
  border-radius: 50%;

  & g {
    stroke: var(--color);
    fill: var(--background);
  }

  @media (min-width: 700px) {
    position: fixed;
  }
}
svg {
  display: block;
}

footer p {
  margin-top: 2rem;
}

/* Degradado chorra */
@media (min-width: 700px) {
  body {
    background: linear-gradient(to right, white, white 90rem, hsl(180deg 100% 90%) 120rem);
  }
  body::before {
    content: "";
    position: fixed;
    display: block;
    top: -400px;
    left: calc(8vw + 50rem);
    width: 1600px;
    height: 1600px;
    background: radial-gradient(circle closest-side, hsl(240deg 100% 85%), white);
    mix-blend-mode: multiply;
  }
}

html.is-portfolio {
  --background: hsl(220deg, 20%, 10%);
  --color: hsl(220deg, 20%, 90%);
  --dim: hsl(220deg, 20%, 65%);
  --bgdim: hsl(220deg, 20%, 25%);

  text-rendering: auto;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  & a {
    color: var(--dim);

    &:focus {
      background-color: black;
      box-shadow: none;
    }
  }

  /* Degradado chorra */
  & body {
    background: none;
    &::before {
      display: none;
    }
  }

  & header ~ p {
    color: var(--dim);
    font-family: system-ui, sans-serif;
    font-size: 1rem;
  }
  & header {
    & p,
    & h2 {
      margin: 0;
    }

  }
  & header {
    margin-top: min(20vh, 200px);
  }
}
oom-carousel-navigation {
  display: flex;
  color: var(--dim);
  margin: 2rem 0;
}
button {
  background: none;
  color: inherit;
  border: solid 2px;
  font-size: 2rem;
  cursor: pointer;
  font-family: inherit;

  & + button {
    margin-left: -2px;
  }

  &:hover {
    background: var(--bgdim);
  }
  &:disabled {
    cursor: default;
    opacity: .1;
  }
  &:focus {
    outline: 0;
    z-index: 2;
  }
  &:focus-visible {
    border-color: white;
  }
}

oom-carousel {
  overflow-x: scroll;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  column-gap: 2rem;
  padding-right: 2rem;
  position: relative;
  z-index: 2;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 2rem;

  @media (max-width: 1200px) {
    scroll-snap-type: x mandatory;
  }

  @media (min-width: 700px) {
    padding-left: calc(8% + 48px + 1rem);
    padding-right: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & figure {
    margin: 0;
    padding: 0;
    scroll-snap-align: center;
  }

  & img {
    max-width: calc(84vw);
    width: 800px;
    display: block;

    @media (min-width: 700px) {
      max-width: calc(92vw - (60px + 2rem));
    }
  }

  &:focus {
    outline: 0;
  }
  &:focus-visible {
    background-color: var(--bgdim);
  }
}