<!doctype html>

<html lang="{{ lang }}" class="{{ it.htmlClass || "theme-light" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {{ for lang, url of it.alternate -}}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}">
    {{ /for }}
    <link rel="webmention" href="https://webmention.io/oscarotero.com/webmention">

    <meta property="og:title" content="{{ it.title }}">
    <meta name="author" content="Óscar Otero">
    <meta property="og:locale" content="{{ it.lang }}">
    <meta name="description" content="{{ it.description }}">
    <meta property="og:description" content="{{ it.description }}">
    <meta property="og:url" content="{{ it.url }}">
    <script type="application/ld+json">
      {"url":"https://oscarotero.com/","headline":"Óscar Otero - Web designer and developer","name":"Oscar Otero","author":{"@type":"Person","name":"Oscar Otero"},"description":"I’m just a designer and web developer","@type":"WebSite","@context":"https://schema.org"}
    </script>
    <link rel="stylesheet" href="/styles.css?cache={{ cache }}">

    <script type="module" src="/scripts/theme.js?cache={{ cache }}"></script>
    {{ if it.script }}
    <script type="module" src="{{ script }}?cache={{ cache }}"></script>
    {{ /if }}
  </head>

  <body>
    <a href="/" title="Portada" class="logo">
      <img src="/favicon.svg" width="48" height="48" alt="Logo" inline>
    </a>

    {{ content |> safe }}
    
    {{ if footer }}
      <hr>
      {{ include "./footer.vto" }}
    {{ /if }}
    <theme-switcher><theme-switcher/>
  </body>
</html>
