<!doctype html>

<html lang="{{ lang }}" class="{{ htmlClass or "theme-light" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% for lang, url in alternate -%}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}">
    {% endfor -%}

    <meta property="og:title" content="{{ title }}" />
    <meta name="author" content="Óscar Otero" />
    <meta property="og:locale" content="{{ lang }}" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ url }}" />
    <script type="application/ld+json">
      {"url":"https://oscarotero.com/","headline":"Óscar Otero - Web designer and developer","name":"Oscar Otero","author":{"@type":"Person","name":"Oscar Otero"},"description":"I’m just a designer and web developer","@type":"WebSite","@context":"https://schema.org"}
    </script>
    <link rel="stylesheet" href="/styles.css?cache={{ cache }}">

    <script type="module" src="/scripts/theme.js?cache={{ cache }}"></script>
    {% if script %}
    <script type="module" src="{{ script }}?cache={{ cache }}"></script>
    {% endif %}
  </head>

  <body>
    <a href="/" title="Portada" class="logo">
      <img src="/favicon.svg" width="48" height="48" alt="Logo" inline>
    </a>

    {{ content | safe }}
    
    {% ifAsync footer %}
      <hr>
      {% include "./footer.njk" %}
    {% endif %}
    <theme-switcher><theme-switcher/>
  </body>
</html>
