<footer>
  <ul>
    {% for link in languages[lang].menu %}
    <li>
      <a href="{{ link.href }}" title="{{ link.title }}">
        {{ link.text }}
      </a>
    </li>
    {% endfor %}
    
    {% for link in links %}
    <li>
      <a href="{{ link.href }}" title="{{ link.title }}">
        {{ link.text }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <p>
    <small>{{ languages[lang].copy | md(true) | safe }}</small>
  </p>
</footer>