<footer>
  <ul>
    {% for page in search.pages("notes lang=" + lang) %}
    <li>
      <a href="{{ page.data.url }}">
        {{ page.data.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <ul>  
    {% for link in links %}
    <li>
      <a {% if link.rel %}rel="{{ link.rel }}"{% endif %} href="{{ link.href }}" title="{{ link.title }}">
        {{ link.text }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <p>
    <small>{{ texts.copy | md(true) | safe }}</small>
  </p>
</footer>