---
title: Con estrela
url: /con-estrela/
---

<h1>Artigos con estrela</h1>

<p>Listaxe de artigos que me gustaron:</p>

<ul>
  {{ for item of starred }}
    <li>
      <a href="{{ item.url }}">
        <strong>{{ item.title }}</strong>
      </a><br>
      <time>{{ item.published |> date("HUMAN_DATE", "gl") }}</time>
    </li>
  {{ /for }}
</ul>
