---
title: Inspiration
url: /notas/inspiracion/
---

<h1>Inspiración</h1>

<p>List of websites that I like for any reason.</p>

<ul>
  {% for item in inspiration %}
  <li>
    <a href="{{ item.url }}">
      <strong>{{ item.title }}</strong>
    </a><br>
    <time>{{ item.published | date("HUMAN_DATE", "gl") }}</time>
  </li>
  {% endfor %}
</ul>
