---
title: Notes
url: /notes/
---

<h1>Notes</h1>

<ul>
  {{ for note of search.pages("notes", "date=desc") }}
  <li>
    <a href="{{ note.url }}">
      <strong>{{ note.title }}</strong>
    </a><br>
    <time>{{ note.date |> date("HUMAN_DATE", "en") }}</time>
  </li>
  {{ /for }}
</ul>
